# ğŸˆ pandas ë°ì´í„° í•©ì¹˜ê¸°

- pandasëŠ” ë‘ ê°œ ì´ìƒì˜ ë°ì´í„° í”„ë ˆì„ì„ í•˜ë‚˜ë¡œ í•©ì¹˜ëŠ”
- **ë³‘í•©(merge)**ì´ë‚˜ **ì—°ê²°(concate)**ì„ ì§€ì›
- merge(), join(), concat()

In [1]:
# í•„ìš” ëª¨ë“ˆ
import pandas as pd
import numpy as np
import random

In [3]:
# ì—¬ëŸ¬ ë³€ìˆ˜ ì¶œë ¥ ì½”ë“œ
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 1. ë°ì´í„° ë³‘í•©

### 1) merge() ëª…ë ¹ì„ ì´ìš©í•œ ë°ì´í„° í”„ë ˆì„ ë³‘í•©

- **merge** : 
    - ë‘ ë°ì´í„° í”„ë ˆì„ì˜ ê³µí†µ ì—´(column)ì´ë‚˜ ì¸ë±ìŠ¤(index)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹¨
    - **key** : ê¸°ì¤€ì´ ë˜ëŠ” ì—´ ë°ì´í„°

#### í˜•ì‹
- df.merge(df1) : ë‘ dfë¥¼ ë³‘í•©ì‹œì¼œ ì¤€ë‹¤.
- ê¸°ë³¸ì€ inner join : ì–‘ìª½ì— ë™ì¼í•˜ê²Œ ì¡´ì¬í•˜ëŠ” í‚¤ë§Œ í‘œì‹œ
- key : ê¸°ì¤€ì—´ì„ ì˜ë¯¸
    -  ì‹¤ì œ ë°ì´í„° í•„ë“œê±°ë‚˜ í–‰ ì¸ë±ìŠ¤ ì¼ ìˆ˜ ìˆë‹¤.
- ë³‘í•©ë°©ì‹
    - inner join :  ì–‘ìª½ dfì—ì„œ ëª¨ë‘ í‚¤ê°€ ì¡´ì¬í•˜ëŠ” dataë§Œí‘œì‹œ
    - outer join :  í•œìª½ì—ë§Œ í‚¤ê°€ ì¡´ì¬í•˜ë©´ dataë¥¼ í‘œì‹œ
    - ë³‘í•©ë°©ì‹ì„ ì„¤ì • : how=inner(ìƒëµê°€ëŠ¥), how=outer

![](./img/join_all.PNG)

![](./img/join_inout.PNG)

**ì˜ˆì œ1. ë°ì´í„°í”„ë ˆì„ ìƒì„±**

- ê³ ê° ì •ë³´ë¥¼ ë‹´ê³  ìˆëŠ” ë°ì´í„° í”„ë ˆì„

In [8]:
# ì˜ˆì‹œ df ìƒì„± - ê³ ê° ì •ë³´ë¥¼ ë‹´ê³  ìˆëŠ” df
df1 = pd.DataFrame({'ê³ ê°ë²ˆí˜¸':[1001,1002,1003,1004,1005,1006,1007],
                   'ì´ë¦„':['ë‘˜ë¦¬','ë„ìš°ë„ˆ','ë˜ì¹˜','ê¸¸ë™','í¬ë™','ë§ˆì´ì½œ','ì˜í¬']})
df1

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

- ì˜ˆê¸ˆ ì •ë³´ ë°ì´í„° í”„ë ˆì„

In [7]:
# ì˜ˆì œ df ìƒì„± - ì˜ˆê¸ˆ ì •ë³´ df
df2 = pd.DataFrame({'ê³ ê°ë²ˆí˜¸':[1001,1001,1005,1006,1008,1001],
                   'ê¸ˆì•¡':[10000,20000,15000,5000,100000,30000,]}) 
df2

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

**merge ëª…ë ¹ìœ¼ë¡œ ë‘ dfë¥¼ ë³‘í•©í•˜ëŠ” ë¬¸ë²•**

merge(df1, df2, how, on, left_on, right_on, left_index, right_index)

- ëª¨ë“  ì¸ìˆ˜ ìƒëµ(ë³‘í•© dfë¥¼ ì œì™¸í•œ) ê³µí†µ ì´ë¦„ì„ ê°–ê³  ìˆëŠ” ì—´
- 'ê³ ê°ë²ˆí˜¸'ê°€ í‚¤ê°€ ë¨
- ì–‘ìª½ì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” í‚¤ì˜ dataë§Œ ë³´ì—¬ì£¼ëŠ” **`inner join`** ë°©ì‹ì„ ì‚¬ìš©
    - pandas.merge(df1, df2)
    - df1.merge(df2)

In [9]:
df1.head(1)
df2.head(1)

   ê³ ê°ë²ˆí˜¸  ì´ë¦„
0  1001  ë‘˜ë¦¬

   ê³ ê°ë²ˆí˜¸     ê¸ˆì•¡
0  1001  10000

**ë°ì´í„°í”„ë ˆì„1.merge(ë°ì´í„°í”„ë ˆì„2)**
- ê¸°ì¤€ ë°ì´í„°í”„ë ˆì„ì€ df1

In [13]:
# ë°©ë²• 1
df1
df2
df1.merge(df2)  # ê¸°ë³¸ê°’ì€ êµì§‘í•© (inner join), df1 ê¸°ì¤€ë³‘í•©. df1 columnì´ ë¨¼ì €ë‚˜ì˜´

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

   ê³ ê°ë²ˆí˜¸   ì´ë¦„     ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000
1  1001   ë‘˜ë¦¬  20000
2  1001   ë‘˜ë¦¬  30000
3  1005   í¬ë™  15000
4  1006  ë§ˆì´ì½œ   5000

In [15]:
df2.merge(df1)    # df2 ê¸°ì¤€ ë³‘í•©. df2 columnì´ ë¨¼ì €ë‚˜ì˜´

   ê³ ê°ë²ˆí˜¸     ê¸ˆì•¡   ì´ë¦„
0  1001  10000   ë‘˜ë¦¬
1  1001  20000   ë‘˜ë¦¬
2  1001  30000   ë‘˜ë¦¬
3  1005  15000   í¬ë™
4  1006   5000  ë§ˆì´ì½œ

In [10]:
# ë°©ë²• 2
pd.merge(df1,df2)     # ê¸°ë³¸ê°’ì€ êµì§‘í•© (inner join),

   ê³ ê°ë²ˆí˜¸   ì´ë¦„     ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000
1  1001   ë‘˜ë¦¬  20000
2  1001   ë‘˜ë¦¬  30000
3  1005   í¬ë™  15000
4  1006  ë§ˆì´ì½œ   5000

### how ì¸ìˆ˜ë¥¼ ì‚¬ìš©í•œ ë‹¤ì–‘í•œ ë³‘í•©

**merge( , how = 'outer')**
- how = inner/outer/left/right
    - how=left : ì™¼ìª½ dfì— ìˆëŠ” ëª¨ë“  í‚¤ì˜ ë°ì´í„°ëŠ” í‘œì‹œ
    - how=right : ì˜¤ë¥¸ìª½ df ì— ìˆëŠ” ëª¨ë“  í‚¤ì˜ ë°ì´í„°ëŠ” í‘œì‹œ

- outer join
    - í‚¤ ê°’ì´ í•œìª½ì—ë§Œ ìˆì–´ë„ ë°ì´í„°ë¥¼ ë³´ì—¬ ì¤Œ
    - ì–´ëŠ í•œ dfì— ë°ì´í„°ê°€ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë©´ NaNìœ¼ë¡œ í‘œì‹œë¨

In [17]:
df1
df2
pd.merge(df1,df2, how='outer')   # df1ì„ ë¨¼ì €ì¼ê¸° ë•Œë¬¸ì— df1ê¸°ì¤€ í•©ì§‘í•©
                                 # df1 columnì´ ë¨¼ì €ë‚˜ì˜´

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

   ê³ ê°ë²ˆí˜¸   ì´ë¦„        ê¸ˆì•¡
0  1001   ë‘˜ë¦¬   10000.0
1  1001   ë‘˜ë¦¬   20000.0
2  1001   ë‘˜ë¦¬   30000.0
3  1002  ë„ìš°ë„ˆ       NaN
4  1003   ë˜ì¹˜       NaN
5  1004   ê¸¸ë™       NaN
6  1005   í¬ë™   15000.0
7  1006  ë§ˆì´ì½œ    5000.0
8  1007   ì˜í¬       NaN
9  1008  NaN  100000.0

- left join

In [19]:
df1
df2
pd.merge(df1,df2, how='left')

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

   ê³ ê°ë²ˆí˜¸   ì´ë¦„       ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000.0
1  1001   ë‘˜ë¦¬  20000.0
2  1001   ë‘˜ë¦¬  30000.0
3  1002  ë„ìš°ë„ˆ      NaN
4  1003   ë˜ì¹˜      NaN
5  1004   ê¸¸ë™      NaN
6  1005   í¬ë™  15000.0
7  1006  ë§ˆì´ì½œ   5000.0
8  1007   ì˜í¬      NaN

- right join

   ê³ ê°ë²ˆí˜¸   ì´ë¦„      ê¸ˆì•¡
0  1001   ë‘˜ë¦¬   10000
1  1001   ë‘˜ë¦¬   20000
2  1005   í¬ë™   15000
3  1006  ë§ˆì´ì½œ    5000
4  1008  NaN  100000
5  1001   ë‘˜ë¦¬   30000

### ë™ì¼í•œ í‚¤ ê°’ì´ ìˆëŠ” ê²½ìš°

- í‚¤ê°’ì´ ê°™ì€ ë°ì´í„°ê°€ ì—¬ëŸ¬ê°œ ìˆëŠ” ê²½ìš°ì—ëŠ” ìˆì„ ìˆ˜ ìˆëŠ” ëª¨ë“  ê²½ìš°ì˜ ìˆ˜ë¥¼ ë”°ì ¸ì„œ ì¡°í•©ì„ ë§Œë“¤ì–´ ë‚¸ë‹¤.

**ì˜ˆì œ2. ë°ì´í„°í”„ë ˆì„ ìƒì„±**

- ë°ì´í„°í”„ë ˆì„1

In [20]:
# ì˜ˆì œ df ìƒì„± 
# ì—´: í’ˆì¢…, ê½ƒìê¸¸ì´
df1 = pd.DataFrame({
    'í’ˆì¢…':['setosa','setosa','virginica','virginica'],
    'ê½ƒìê¸¸ì´':[1.4, 1.3, 1.5, 1.3]},
    columns=['í’ˆì¢…','ê½ƒìê¸¸ì´'])
df1

          í’ˆì¢…  ê½ƒìê¸¸ì´
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

- ë°ì´í„°í”„ë ˆì„2

In [22]:
# ì—´ : í’ˆì¢…, ê½ƒìë„ˆë¹„
df2 = pd.DataFrame({
    'í’ˆì¢…': ['setosa','virginica','virginica','versicolor'],
    'ê½ƒìë„ˆë¹„':[0.4,0.3,0.5,0.3]},
    columns=['í’ˆì¢…','ê½ƒìë„ˆë¹„'])
df2

           í’ˆì¢…  ê½ƒìë„ˆë¹„
0      setosa   0.4
1   virginica   0.3
2   virginica   0.5
3  versicolor   0.3

- df1ê³¼ df2 ë¥¼ ë³‘í•©


    - ìœ„ ë°ì´í„°ì—ì„œ í‚¤ ê°’ setosaì— ëŒ€í•´
        - df1ì—ëŠ” 1.4ì™€ 1.3 2ê°œì˜ ë°ì´í„°ê°€ ìˆê³ 
        - df2ì—ëŠ” 0.4ë¼ëŠ” 1ê°œì˜ ë°ì´í„°ê°€ ìˆìœ¼ë¯€ë¡œ
        - ë³‘í•© ë°ì´í„°ì—ëŠ” setosaê°€ (1.4,0.4)(1.3,0.4)ì˜ 2 ê²½ìš°ê°€ í‘œí˜„ëœë‹¤.
        

    - í‚¤ê°’ virginicaì˜ ê²½ìš°ì—ëŠ” df1ì— 2ê°œ df2ì— 2ê°œì˜ ë°ì´í„°ê°€ ìˆìœ¼ë¯€ë¡œ
        - 2ê°œì™€ 2ê°œì˜ ì¡°í•©ì— ì˜í•´ 4ê°œì˜ ë°ì´í„°ê°€ í‘œí˜„ëœë‹¤.

In [25]:
#ì–‘ìª½ ë°ì´í„°í”„ë ˆì„ì—ì„œ ê³µí†µëœ í‚¤ë§Œ í‘œí˜„

df1.head(1)
df2.head(1)
pd.merge(df1,df2)
pd.merge(df1,df2, how='left')
pd.merge(df1,df2, how='right')

       í’ˆì¢…  ê½ƒìê¸¸ì´
0  setosa   1.4

       í’ˆì¢…  ê½ƒìë„ˆë¹„
0  setosa   0.4

          í’ˆì¢…  ê½ƒìê¸¸ì´  ê½ƒìë„ˆë¹„
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

          í’ˆì¢…  ê½ƒìê¸¸ì´  ê½ƒìë„ˆë¹„
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

           í’ˆì¢…  ê½ƒìê¸¸ì´  ê½ƒìë„ˆë¹„
0      setosa   1.4   0.4
1      setosa   1.3   0.4
2   virginica   1.5   0.3
3   virginica   1.3   0.3
4   virginica   1.5   0.5
5   virginica   1.3   0.5
6  versicolor   NaN   0.3

### âœ merge()ì˜ on ì¸ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê¸°ì¤€ì—´ ëª…ì‹œí•˜ì—¬ ë³‘í•©

**key**
- ë‘ ë°ì´í„° í”„ë ˆì„ì—ì„œ ì´ë¦„ì´ ê°™ì€ ì—´ì€ ëª¨ë‘ í‚¤ê°€ ë  ìˆ˜ ìˆë‹¤.
- ì—´ì´ë¦„ì´ ê°™ì•„ë„ í‚¤ë¡œ ì‚¬ìš©í•  ìˆ˜ ì—†ëŠ” ì—´ì´ ìˆìœ¼ë©´ **on ì¸ìˆ˜ë¡œ ê¸°ì¤€ì—´ì„ ëª…ì‹œ**í•´ì•¼ í•œë‹¤.

**ì˜ˆì œ3.**

In [26]:
# ì˜ˆì œ df
df1 = pd.DataFrame({
    'ê³ ê°ëª…':['ì¶˜í–¥','ì¶˜í–¥','ëª½ë£¡'],
    'ë‚ ì§œ' : ['2018-01-01','2018-01-02','2018-01-01'],
    'ë°ì´í„°':[20000, 30000, 100000]
})
df1

  ê³ ê°ëª…          ë‚ ì§œ     ë°ì´í„°
0  ì¶˜í–¥  2018-01-01   20000
1  ì¶˜í–¥  2018-01-02   30000
2  ëª½ë£¡  2018-01-01  100000

In [27]:
df2 = pd.DataFrame({
    'ê³ ê°ëª…':['ì¶˜í–¥','ëª½ë£¡'],
    'ë°ì´í„°':['ì—¬ì','ë‚¨ì']
})
df2

  ê³ ê°ëª… ë°ì´í„°
0  ì¶˜í–¥  ì—¬ì
1  ëª½ë£¡  ë‚¨ì

In [29]:
pd.merge(df1, df2, on='ê³ ê°ëª…')

  ê³ ê°ëª…          ë‚ ì§œ   ë°ì´í„°_x ë°ì´í„°_y
0  ì¶˜í–¥  2018-01-01   20000    ì—¬ì
1  ì¶˜í–¥  2018-01-02   30000    ì—¬ì
2  ëª½ë£¡  2018-01-01  100000    ë‚¨ì

**ê¸°ì¤€ì—´ì„ ì§ì ‘ ì§€ì • : on=ê¸°ì¤€ì—´ ì´ë¦„**
- ë°˜í™˜ ê²°ê³¼ì— ë™ì¼ í•„ë“œëª…ì´ ìˆì„ ê²½ìš°ì—ëŠ” í•„ë“œëª…_x, í•„ë“œëª…_yë¡œ í•„ë“œëª…ì„ ë³€ê²½í•´ì„œ í‘œí˜„

**í‚¤ê°€ ë˜ëŠ” ê¸°ì¤€ì—´ ì´ë¦„ì´ ë‘ ë°ì´í„° í”„ë ˆì„ì—ì„œ ë‹¤ë¥´ê²Œ ë‚˜íƒ€ë‚˜ëŠ” ê²½ìš°**
- **left_on, right_on ì¸ìˆ˜**ë¥¼ ì‚¬ìš©í•´ì„œ ê¸°ì¤€ì—´ì„ ëª…ì‹œí•´ì•¼ í•¨

**ì˜ˆì œ4.**

In [31]:
df1=pd.DataFrame({
    'ì´ë¦„' :['ì˜í¬','ì² ìˆ˜','ì² ìˆ˜'],
    'ì„±ì ' :[90,80,80]
})
df2 = pd.DataFrame({
    'ì„±ëª…' :['ì˜í¬','ì˜í¬','ì² ìˆ˜'],
    'ì„±ì 2':[100,80,90]
})
df1
df2

   ì´ë¦„  ì„±ì
0  ì˜í¬  90
1  ì² ìˆ˜  80
2  ì² ìˆ˜  80

   ì„±ëª…  ì„±ì 2
0  ì˜í¬  100
1  ì˜í¬   80
2  ì² ìˆ˜   90

In [32]:
pd.merge(df1, df2, left_on='ì´ë¦„',right_on='ì„±ëª…')
# ì–‘ìª½ì—ì„œ ê¸°ì¤€ì´ë˜ëŠ” ì—´ì˜ ì´ë¦„ì´ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— onì¸ìˆ˜ë¥¼ ë‘ë²ˆì‚¬ìš©
# ì¶œë ¥ê²°ê³¼ëŠ” ì–‘ìª½ í•„ë“œ ëª…ì´ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— ê¸°ì¤€ì—´ì´ ëª¨ë‘ë‚˜íƒ€ë‚œë‹¤.

   ì´ë¦„  ì„±ì   ì„±ëª…  ì„±ì 2
0  ì˜í¬  90  ì˜í¬  100
1  ì˜í¬  90  ì˜í¬   80
2  ì² ìˆ˜  80  ì² ìˆ˜   90
3  ì² ìˆ˜  80  ì² ìˆ˜   90

### âœ” ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©

: ì¼ë°˜ ë°ì´í„° ì—´ì´ ì•„ë‹Œ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ merge í• ìˆ˜ë„ ìˆìŒ


- ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ì—´ë¡œ ì‚¬ìš©í•˜ë ¤ë©´
    - left_index = True ë˜ëŠ”
    - right_index = True ì„¤ì •ì„ í•˜ê²Œ ë¨

**ì˜ˆì œ5. ë°ì´í„°í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ì—´ë¡œ ì‚¬ìš©í•˜ëŠ” ê²½ìš°**

In [33]:
df1 = pd.DataFrame({
    'ë„ì‹œ': ['ì„œìš¸','ì„œìš¸','ì„œìš¸','ë¶€ì‚°','ë¶€ì‚°'],
    'ì—°ë„': [2000, 2005, 2010, 2000, 2005],
    'ì¸êµ¬': [9853972, 9762546, 9631482, 3655437, 3512547]    
})

df2=pd.DataFrame(
    np.arange(12).reshape((6,2)),
    index=[['ë¶€ì‚°','ë¶€ì‚°','ì„œìš¸','ì„œìš¸','ì„œìš¸','ì„œìš¸'],
          [2000, 2005, 2000, 2005, 2010, 2015]],        # ë‹¤ì°¨ì› ì¸ë±ìŠ¤
    columns=['ë°ì´í„°1','ë°ì´í„°2']
)

df1
df2

   ë„ì‹œ    ì—°ë„       ì¸êµ¬
0  ì„œìš¸  2000  9853972
1  ì„œìš¸  2005  9762546
2  ì„œìš¸  2010  9631482
3  ë¶€ì‚°  2000  3655437
4  ë¶€ì‚°  2005  3512547

         ë°ì´í„°1  ë°ì´í„°2
ë¶€ì‚° 2000     0     1
   2005     2     3
ì„œìš¸ 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [34]:
pd.merge(df1,df2, left_on=['ë„ì‹œ','ì—°ë„'], right_index=True)

   ë„ì‹œ    ì—°ë„       ì¸êµ¬  ë°ì´í„°1  ë°ì´í„°2
0  ì„œìš¸  2000  9853972     4     5
1  ì„œìš¸  2005  9762546     6     7
2  ì„œìš¸  2010  9631482     8     9
3  ë¶€ì‚°  2000  3655437     0     1
4  ë¶€ì‚°  2005  3512547     2     3

**ì˜ˆì œ6. ë‘ ë°ì´í„°í”„ë ˆì„ì˜ keyê°€ ëª¨ë‘ ì¸ë±ìŠ¤ì¸ ê²½ìš°**

In [35]:
df1 = pd.DataFrame([[1.,2.],[3.,4.],[5.,6.]],
                   index=['a','c','e'],
                   columns=['ì„œìš¸','ë¶€ì‚°'])
df1

df2=pd.DataFrame([[7.,8.],[9.,10.],
                  [11.,12.],[13.,14.]],
                 index=['b','c','d','e'],
                 columns=['ëŒ€êµ¬','ê´‘ì£¼'])
df2

    ì„œìš¸   ë¶€ì‚°
a  1.0  2.0
c  3.0  4.0
e  5.0  6.0

     ëŒ€êµ¬    ê´‘ì£¼
b   7.0   8.0
c   9.0  10.0
d  11.0  12.0
e  13.0  14.0

**ë‘ ë°ì´í„°í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ê°€ í‚¤ë¡œ ì‚¬ìš©ë  ê²½ìš°**

In [40]:
# ë‘ ë°ì´í„°í”„ë ˆì„ì˜ keyê°€ ëª¨ë‘ ì¸ë±ìŠ¤ì¸ ê²½ìš°
pd.merge(df1,df2, how='outer',left_index=True, right_index=True)

    ì„œìš¸   ë¶€ì‚°    ëŒ€êµ¬    ê´‘ì£¼
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

## 2) join()ì„ ì´ìš©í•œ ë³‘í•©

**Dataframe1.join(Dataframe2. how='left/right/inner/outer', on=keys)**

- ì‚¬ìš© ë°©ë²•ì€ merge()ì™€ ë™ì¼
- í–‰ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©

- Dataframe1.join(Dataframe2. how='left')ê°€ defaultê°’

In [38]:
df1
df2
df1.join(df2, how='outer')

    ì„œìš¸   ë¶€ì‚°
a  1.0  2.0
c  3.0  4.0
e  5.0  6.0

     ëŒ€êµ¬    ê´‘ì£¼
b   7.0   8.0
c   9.0  10.0
d  11.0  12.0
e  13.0  14.0

    ì„œìš¸   ë¶€ì‚°    ëŒ€êµ¬    ê´‘ì£¼
a  1.0  2.0   NaN   NaN
b  NaN  NaN   7.0   8.0
c  3.0  4.0   9.0  10.0
d  NaN  NaN  11.0  12.0
e  5.0  6.0  13.0  14.0

### ì—°ìŠµë¬¸ì œ1.
- ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ì„ ë§Œë“¤ê³  merge ëª…ë ¹ì„ ë³‘í•©í•œë‹¤.
- ë‹¨, ë°ì´í„° í”„ë ˆì„ì€ ë‹¤ìŒ ì¡°ê±´ì„ ë§Œì¡±í•´ì•¼ í•œë‹¤.
    1. ê°ê° 5X5 ì´ìƒì˜ í¬ê¸°ë¥¼ ê°€ì§„ë‹¤.
    2. ê³µí†µì—´ì„ í•˜ë‚˜ì´ìƒ ê°–ëŠ”ë‹¤. 
        - ë‹¤ë§Œ ê³µí†µì—´ì˜ ì´ë¦„ì€ ì„œë¡œ ë‹¤ë¥´ê²Œ í•  ê²ƒ
    3. mergeì˜ ê²½ìš°ë¥¼ inner, outer, left, right 4ê°œì˜ í˜•íƒœë¡œ ì¶œë ¥í•  ê²ƒ
    4. ì§€ì •ëœ ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ëª…ì„ ê°–ëŠ”ë‹¤.

In [23]:
data = [[22, 60.1, 170.5, 'ë‚¨', 'ì„œìš¸'], 
        [45, 51.3, 157.3, 'ì—¬', 'ë¶€ì‚°'], 
        [22, 68.3,180.1,  'ë‚¨', 'ëŒ€êµ¬'],
        [33, 88.3, 190.2, 'ë‚¨', 'ì œì£¼'], 
        [27, 48.3, 160.1, 'ì—¬', 'ê°•ë¦‰']]

df1 = pd.DataFrame(data, 
                   index=['í™ê¸¸ë™', 'ì´ëª½ë£¡', 'ì„±ì¶˜í–¥','ë³€í•™ë„','ê¹€ì—°ì•„'], 
                   columns=["ë‚˜ì´", "ëª¸ë¬´ê²Œ", "í‚¤", "ì„±ë³„" ,"ì£¼ì†Œ"])
df1

     ë‚˜ì´   ëª¸ë¬´ê²Œ      í‚¤ ì„±ë³„  ì£¼ì†Œ
í™ê¸¸ë™  22  60.1  170.5  ë‚¨  ì„œìš¸
ì´ëª½ë£¡  45  51.3  157.3  ì—¬  ë¶€ì‚°
ì„±ì¶˜í–¥  22  68.3  180.1  ë‚¨  ëŒ€êµ¬
ë³€í•™ë„  33  88.3  190.2  ë‚¨  ì œì£¼
ê¹€ì—°ì•„  27  48.3  160.1  ì—¬  ê°•ë¦‰

In [24]:
data = [[22, 60.1, 170.5, 'ë‚¨', 'ì„œìš¸'], 
        [45, 51.3, 157.3, 'ì—¬', 'ë¶€ì‚°'], 
        [22, 68.3,180.1,  'ë‚¨', 'ìš¸ì‚°'],
        [33, 88.3, 190.2, 'ë‚¨', 'ì œì£¼'], 
        [27, 48.3, 160.1, 'ì—¬', 'ê´‘ì£¼']]
df2 = pd.DataFrame(data,
                   index=[1,2,3,4,5],
                   columns=["ë‚˜ì´", "ëª¸ë¬´ê²Œ", "í‚¤", "ì„±ë³„" ,"ì§€ì—­"])
df2

   ë‚˜ì´   ëª¸ë¬´ê²Œ      í‚¤ ì„±ë³„  ì§€ì—­
1  22  60.1  170.5  ë‚¨  ì„œìš¸
2  45  51.3  157.3  ì—¬  ë¶€ì‚°
3  22  68.3  180.1  ë‚¨  ìš¸ì‚°
4  33  88.3  190.2  ë‚¨  ì œì£¼
5  27  48.3  160.1  ì—¬  ê´‘ì£¼

   ë‚˜ì´_x  ëª¸ë¬´ê²Œ_x    í‚¤_x ì„±ë³„_x  ì£¼ì†Œ  ë‚˜ì´_y  ëª¸ë¬´ê²Œ_y    í‚¤_y ì„±ë³„_y  ì§€ì—­
0    22   60.1  170.5    ë‚¨  ì„œìš¸    22   60.1  170.5    ë‚¨  ì„œìš¸
1    45   51.3  157.3    ì—¬  ë¶€ì‚°    45   51.3  157.3    ì—¬  ë¶€ì‚°
2    33   88.3  190.2    ë‚¨  ì œì£¼    33   88.3  190.2    ë‚¨  ì œì£¼

   ë‚˜ì´_x  ëª¸ë¬´ê²Œ_x    í‚¤_x ì„±ë³„_x   ì£¼ì†Œ  ë‚˜ì´_y  ëª¸ë¬´ê²Œ_y    í‚¤_y ì„±ë³„_y   ì§€ì—­
0  22.0   60.1  170.5    ë‚¨   ì„œìš¸  22.0   60.1  170.5    ë‚¨   ì„œìš¸
1  45.0   51.3  157.3    ì—¬   ë¶€ì‚°  45.0   51.3  157.3    ì—¬   ë¶€ì‚°
2  22.0   68.3  180.1    ë‚¨   ëŒ€êµ¬   NaN    NaN    NaN  NaN  NaN
3  33.0   88.3  190.2    ë‚¨   ì œì£¼  33.0   88.3  190.2    ë‚¨   ì œì£¼
4  27.0   48.3  160.1    ì—¬   ê°•ë¦‰   NaN    NaN    NaN  NaN  NaN
5   NaN    NaN    NaN  NaN  NaN  22.0   68.3  180.1    ë‚¨   ìš¸ì‚°
6   NaN    NaN    NaN  NaN  NaN  27.0   48.3  160.1    ì—¬   ê´‘ì£¼

   ë‚˜ì´_x  ëª¸ë¬´ê²Œ_x    í‚¤_x ì„±ë³„_x  ì£¼ì†Œ  ë‚˜ì´_y  ëª¸ë¬´ê²Œ_y    í‚¤_y ì„±ë³„_y   ì§€ì—­
0    22   60.1  170.5    ë‚¨  ì„œìš¸  22.0   60.1  170.5    ë‚¨   ì„œìš¸
1    45   51.3  157.3    ì—¬  ë¶€ì‚°  45.0   51.3  157.3    ì—¬   ë¶€ì‚°
2    22   68.3  180.1    ë‚¨  ëŒ€êµ¬   NaN    NaN    NaN  NaN  NaN
3    33   88.3  190.2    ë‚¨  ì œì£¼  33.0   88.3  190.2    ë‚¨   ì œì£¼
4    27   48.3  160.1    ì—¬  ê°•ë¦‰   NaN    NaN    NaN  NaN  NaN

   ë‚˜ì´_x  ëª¸ë¬´ê²Œ_x    í‚¤_x ì„±ë³„_x   ì£¼ì†Œ  ë‚˜ì´_y  ëª¸ë¬´ê²Œ_y    í‚¤_y ì„±ë³„_y  ì§€ì—­
0  22.0   60.1  170.5    ë‚¨   ì„œìš¸    22   60.1  170.5    ë‚¨  ì„œìš¸
1  45.0   51.3  157.3    ì—¬   ë¶€ì‚°    45   51.3  157.3    ì—¬  ë¶€ì‚°
2   NaN    NaN    NaN  NaN  NaN    22   68.3  180.1    ë‚¨  ìš¸ì‚°
3  33.0   88.3  190.2    ë‚¨   ì œì£¼    33   88.3  190.2    ë‚¨  ì œì£¼
4   NaN    NaN    NaN  NaN  NaN    27   48.3  160.1    ì—¬  ê´‘ì£¼

------------------------------

## ğŸˆ 2. ë°ì´í„° ì—°ê²°

### concat() ëª…ë ¹ì„ ì‚¬ìš©í•œ ë°ì´í„° ì—°ê²°

**pd.concat([left, right], axis=0, join='outer', ignore_index=False, keys=None)**

- left, right :  Series, DataFrame, Panel object ë¦¬ìŠ¤íŠ¸
- axis :  0ì€ ìœ„+ì•„ë˜ë¡œ í•©ì¹˜ê¸°, 1ì€ ì™¼ìª½+ì˜¤ë¥¸ìª½ìœ¼ë¡œ í•©ì¹˜ê¸°
- join :  'outer': í•©ì§‘í•©(union), 'inner': êµì§‘í•©(intersection)
- ignore_index :  False: ê¸°ì¡´ index ìœ ì§€, True: ê¸°ì¡´ index ë¬´ì‹œ
- keys :  ê³„ì¸µì  index ì‚¬ìš©í•˜ë ¤ë©´ keys íŠœí”Œ ì…ë ¥

- ê¸°ì¤€ì—´ ì—†ì´ ë°ì´í„°ë¥¼ í•©ì¹œë‹¤
- ìœ„ ì•„ë˜ë¡œ ë°ì´í„°ë¥¼ ê²°í•©í•˜ëŠ” **í–‰ ê²°í•©(row bind)**ì´ ê¸°ë³¸
- axis ì†ì„±ì„ 1ë¡œ ì„¤ì •í•˜ë©´ ì—´ ê²°í•©(column bind)ì„ ìˆ˜í–‰
- ë‹¨ìˆœíˆ ë‘ ì‹œë¦¬ì¦ˆë‚˜ ë°ì´í„°í”„ë ˆì„ì„ ì—°ê²°í•˜ê¸° ë•Œë¬¸ì— **ì¸ë±ìŠ¤ ê°’ì´ ì¤‘ë³µ**ë  ìˆ˜ ìˆë‹¤.

#### í–‰ê²°í•© : pd.concat([df1,df2], axis=0)

![](./img/join_inout_row.PNG)

#### ì—´ê²°í•© :  pd.concat([df1,df2],axis=1)

![](./img/concat_column.png)

### ë‘ ì‹œë¦¬ì¦ˆ ë°ì´í„° ì—°ê²°

**ì˜ˆì œ1.**

- ë‘ ì‹œë¦¬ì¦ˆ ë°ì´í„° ìƒì„±

In [42]:
s1 = pd.Series([0,1], index=['A','B'])
s2 = pd.Series([2,3,4], index=['A','B','C'])
s1
s2

A    0
B    1
dtype: int64

A    2
B    3
C    4
dtype: int64

- ë‘ ì‹œë¦¬ì¦ˆ ë°ì´í„° ì—°ê²°

In [43]:
# ë‘ ì‹œë¦¬ì¦ˆ ì—°ê²° : ì•„ë¬´ê²ƒë„ ì•ˆì“°ë©´ ê¸°ë³¸ì ìœ¼ë¡œ í–‰ë°©í–¥ìœ¼ë¡œ ê²°í•©
pd.concat([s1,s2])

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [44]:
# ë‘ ì‹œë¦¬ì¦ˆ ì—°ê²° : axis=1 ì“°ë©´ ì—´ë°©í–¥ìœ¼ë¡œ ê²°í•©
pd.concat([s1,s2], axis=1)

     0  1
A  0.0  2
B  1.0  3
C  NaN  4

### ë‘ ë°ì´í„°í”„ë ˆì„ ì—°ê²°

**ì˜ˆì œ2.**
- ë°ì´í„°í”„ë ˆì„ ìƒì„±

In [45]:
# concat ì—°ê²°
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'E': ['C4', 'C5', 'C6', 'C7'],
                    'F': ['D4', 'D5', 'D6', 'D7']},
                   index=[0, 1, 2, 3])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[1,2,3,4])
df1
df2
df3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

    A   B   E   F
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

     A    B    C    D
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10
4  A11  B11  C11  D11

**ë°ì´í„° í”„ë ˆì„ í–‰ ê²°í•©**

- í–‰ì„ ëª¨ë‘ í‘œí˜„
- join ì¸ìˆ˜ ìƒëµ : ê¸°ë³¸ê°’ì´ 'outer'ë¡œ ì§€ì •ë˜ì–´ ìˆìŒ (ëª¨ë“  ì—´ í‘œí˜„)

In [51]:
result = pd.concat([df1,df2])     # join='outer' ê°€ ë””í´íŠ¸ê°’ìœ¼ë¡œ ë“¤ì–´ê°€ìˆìŒ
result

    A   B    C    D    E    F
0  A0  B0   C0   D0  NaN  NaN
1  A1  B1   C1   D1  NaN  NaN
2  A2  B2   C2   D2  NaN  NaN
3  A3  B3   C3   D3  NaN  NaN
0  A4  B4  NaN  NaN   C4   D4
1  A5  B5  NaN  NaN   C5   D5
2  A6  B6  NaN  NaN   C6   D6
3  A7  B7  NaN  NaN   C7   D7

In [49]:
pd.concat([df1,df2], join='outer')

    A   B    C    D    E    F
0  A0  B0   C0   D0  NaN  NaN
1  A1  B1   C1   D1  NaN  NaN
2  A2  B2   C2   D2  NaN  NaN
3  A3  B3   C3   D3  NaN  NaN
0  A4  B4  NaN  NaN   C4   D4
1  A5  B5  NaN  NaN   C5   D5
2  A6  B6  NaN  NaN   C6   D6
3  A7  B7  NaN  NaN   C7   D7

**ì¸ë±ìŠ¤ê°€ ì¤‘ë³µëœ ê²½ìš° : ì¸ë±ì‹±ì„ ìˆ˜í–‰í•˜ë©´?**

In [54]:
# ì¸ë±ìŠ¤ê°€ ì¤‘ë³µ ëœ ê²½ìš° ì¸ë±ì‹±ì„ ìˆ˜í–‰ í•˜ë©´ ?
result
result.loc[0]
result.iloc[0]

    A   B    C    D    E    F
0  A0  B0   C0   D0  NaN  NaN
1  A1  B1   C1   D1  NaN  NaN
2  A2  B2   C2   D2  NaN  NaN
3  A3  B3   C3   D3  NaN  NaN
0  A4  B4  NaN  NaN   C4   D4
1  A5  B5  NaN  NaN   C5   D5
2  A6  B6  NaN  NaN   C6   D6
3  A7  B7  NaN  NaN   C7   D7

    A   B    C    D    E    F
0  A0  B0   C0   D0  NaN  NaN
0  A4  B4  NaN  NaN   C4   D4

A     A0
B     B0
C     C0
D     D0
E    NaN
F    NaN
Name: 0, dtype: object

**ì¸ë±ìŠ¤ê°€ ì¤‘ë³µë˜ë¯€ë¡œ ê¸°ë³¸ ì¸ë±ìŠ¤ë¡œ ì¬ì„¤ì •**
- ì¸ë±ìŠ¤ ì—´ ì œê±° : drop=True

In [56]:
# ì¸ë±ìŠ¤ê°€ ì¤‘ë³µ ë˜ë¯€ë¡œ ê¸°ë³¸ ì¸ë±ìŠ¤ë¡œ ì¬ ì„¤ì •
# ì¸ë±ìŠ¤ ì—´ì€ ì œê±°

result.reset_index(drop=True)

    A   B    C    D    E    F
0  A0  B0   C0   D0  NaN  NaN
1  A1  B1   C1   D1  NaN  NaN
2  A2  B2   C2   D2  NaN  NaN
3  A3  B3   C3   D3  NaN  NaN
4  A4  B4  NaN  NaN   C4   D4
5  A5  B5  NaN  NaN   C5   D5
6  A6  B6  NaN  NaN   C6   D6
7  A7  B7  NaN  NaN   C7   D7

**concat( , join = 'inner')**

: ê³µí†µëœ ì—´ë§Œ í‘œí˜„

In [57]:
# concat() : í–‰ê²°í•© - í–‰ì€ ëª¨ë‘ í‘œí˜„
# join='inner' ì´ë¯€ë¡œ ì—´ì€ ê³µí†µì—´ë§Œ í‘œí˜„

pd.concat([df1,df2], join='inner')

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

**concat( , ignore_index = True)**

: ê¸°ì¡´ ì¸ë±ìŠ¤ ì œê±° í›„ ì œë¡œë² ì´ìŠ¤ ì¸ë±ìŠ¤ ì„¤ì •

In [58]:
# ignore_index = True : ê¸°ì¡´ ì¸ë±ìŠ¤ ì œê±° í›„ ì œë¡œë² ì´ìŠ¤ ì¸ë±ìŠ¤ ì„¤ì •

pd.concat([df1,df2], join='inner', ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5
6  A6  B6
7  A7  B7

**concat( , keys=[])**

: ìƒìœ„ ë ˆë²¨ ì¸ë±ìŠ¤ ì„¤ì •

In [63]:
# keys íŒŒë¼ë¯¸í„°ë¥¼ í†µí•´ ìƒìœ„ë ˆë²¨ ì¸ë±ìŠ¤ ì„¤ì • ê°€ëŠ¥
result = pd.concat([df1,df2,df3], keys=['df1','df2','df3'])
result

# 3ê°œì˜ dfì´ë¯€ë¡œ ê° dfì— ëŒ€ì‘ë˜ëŠ” ìƒìœ„ ë ˆë²¨ ì¸ë±ìŠ¤ë¥¼ ì •ì˜

         A    B    C    D    E    F
df1 0   A0   B0   C0   D0  NaN  NaN
    1   A1   B1   C1   D1  NaN  NaN
    2   A2   B2   C2   D2  NaN  NaN
    3   A3   B3   C3   D3  NaN  NaN
df2 0   A4   B4  NaN  NaN   C4   D4
    1   A5   B5  NaN  NaN   C5   D5
    2   A6   B6  NaN  NaN   C6   D6
    3   A7   B7  NaN  NaN   C7   D7
df3 1   A8   B8   C8   D8  NaN  NaN
    2   A9   B9   C9   D9  NaN  NaN
    3  A10  B10  C10  D10  NaN  NaN
    4  A11  B11  C11  D11  NaN  NaN

- ë‹¤ì¤‘ ì¸ë±ìŠ¤ì¸ ê²½ìš° ë°ì´í„° ì ‘ê·¼ : .ì—°ì‚°ìë¥¼ ì´ìš©í•œ ì²´ì¸ ì¸ë±ì‹±

In [64]:
# ë‹¤ì¤‘ ì¸ë±ì‹± : . ì—°ì‚°ìë¥¼ ì´ìš©í•œ ì ‘ê·¼
result.loc['df3'].loc[1:3]

     A    B    C    D    E    F
1   A8   B8   C8   D8  NaN  NaN
2   A9   B9   C9   D9  NaN  NaN
3  A10  B10  C10  D10  NaN  NaN

### concat() ë¥¼ ì´ìš©í•œ ì—´ ê²°í•©

**pd.concat([df1,df2], axis=1, join='inner/outer')**

- axis=1
    - ë°ì´í„°í”„ë ˆì„ë“¤ì˜ ì—´ì„ ê²°í•©


- join='outer' : ê¸°ë³¸ ì„¤ì •
    - ëª¨ë“  í–‰ì„ í‘œì‹œí•˜ê³  í•´ë‹¹ í–‰ì˜ ë°ì´í„°ê°€ ì—†ëŠ” ì—´ì˜ ì›ì†ŒëŠ” NaNìœ¼ë¡œ í‘œì‹œ


- join='inner'
    - ë³‘í•©í•˜ëŠ” ë°ì´í„°í”„ë ˆì„ì— ì¤‘ë³µë˜ëŠ” ì¸ë±ìŠ¤ì˜ í–‰ë§Œ í‘œì‹œ

**ì˜ˆì œ3.**

In [65]:
# ì˜ˆì œ df ìƒì„±

df1=pd.DataFrame(
    np.arange(6).reshape(3,2),
    index=['a','b','c'],
    columns=['ë°ì´í„°1','ë°ì´í„°2']
)
df1
df2=pd.DataFrame(
    5+np.arange(4).reshape(2,2),
    index=['a','c'],
    columns=['ë°ì´í„°2','ë°ì´í„°4']
)
df2

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5

   ë°ì´í„°2  ë°ì´í„°4
a     5     6
c     7     8

- concat( , axis=1, )ì„ ì´ìš©í•œ ì—´ ê²°í•© : outer joinì´ ê¸°ë³¸ìœ¼ë¡œ ì ìš©

In [66]:
pd.concat([df1,df2],axis=1,join='outer')
# join ='outer'ê°€ ê¸°ë³¸ì´ë¯€ë¡œ ìƒëµ ê°€ëŠ¥

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0

- concat( , axis=0, )ì„ ì´ìš©í•œ í–‰ ê²°í•©

In [67]:
# í–‰ ê²°í•©
pd.concat([df1,df2],axis=0,join='outer')

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°4
a   0.0     1   NaN
b   2.0     3   NaN
c   4.0     5   NaN
a   NaN     5   6.0
c   NaN     7   8.0

- inner joinì´ ì ìš©ëœ ì—´ ê²°í•©

In [71]:
df1
df2
pd.concat([df1,df2],axis=1,join='inner')
pd.concat([df2,df1],axis=1,join='inner')

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5

   ë°ì´í„°2  ë°ì´í„°4
a     5     6
c     7     8

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1     5     6
c     4     5     7     8

   ë°ì´í„°2  ë°ì´í„°4  ë°ì´í„°1  ë°ì´í„°2
a     5     6     0     1
c     7     8     4     5

### ì—°ìŠµë¬¸ì œ2. 
- ì–´ëŠíšŒì‚¬ì˜ ì „ë°˜ê¸°(1ì›”-6ì›”)ì‹¤ì ì„ ë‚˜íƒ€ë‚´ëŠ” ë°ì´í„°í”„ë ˆì„ê³¼
í›„ë°˜ê¸°(7ì›”-12ì›”)ì‹¤ì ì„ ë‚˜íƒ€ë‚´ëŠ” ë°ì´í„° í”„ë ˆì„ì„ ì‘ì„±í•œ í›„
í•©ì¹œë‹¤(ë‹¨ìˆœë³‘í•©)
- ì‹¤ì  ì •ë³´ëŠ” "ë§¤ì¶œ","ë¹„ìš©","ì´ìµ"ìœ¼ë¡œ ì´ë£¨ì–´ì§„ë‹¤.
- ì´ìµ=ë§¤ì¶œ-ë¹„ìš© : ê°€ê³µí•„ë“œë¡œ ìƒì„±
    
- ë˜í•œ 1ë…„ê°„ì˜ ì´ ì‹¤ì ì„ ë§ˆì§€ë§‰ ì—´ë¡œ ë§ë¶™ì¸ë‹¤.

**ìƒë°˜ê¸°(1-6ì›”) ì‹¤ì  ë°ì´í„°í”„ë ˆì„ ìƒì„±**
- month ë³€ìˆ˜ ìƒì„±

In [74]:
month = [str(i)+'ì›”' for i in range(1,13)]
month

['1ì›”', '2ì›”', '3ì›”', '4ì›”', '5ì›”', '6ì›”', '7ì›”', '8ì›”', '9ì›”', '10ì›”', '11ì›”', '12ì›”']

- 1~6ì›”ì˜ ë§¤ì¶œ, ë¹„ìš© ë°ì´í„° ìƒì„±(ë”•ì…”ë„ˆë¦¬)

In [75]:
# ë§¤ì¶œ, ë¹„ìš© data random  ìƒì„±
np.random.seed(3)
data = {}
for i in month[0:6]:
    data[i]=np.random.randint(1,100,2)
    
data

{'1ì›”': array([25,  4]),
 '2ì›”': array([57, 73]),
 '3ì›”': array([ 1, 22]),
 '4ì›”': array([20, 75]),
 '5ì›”': array([42, 11]),
 '6ì›”': array([22, 39])}

- 1~6ì›”ì˜ ë§¤ì¶œê³¼ ë¹„ìš© ë°ì´í„°í”„ë ˆì„ ìƒì„±

In [21]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±

    1ì›”  2ì›”  3ì›”  4ì›”  5ì›”  6ì›”
ë§¤ì¶œ  25  57   1  20  42  22
ë¹„ìš©   4  73  22  75  11  39

- 'ì´ìµ' í–‰ì´ ì¶”ê°€ëœ ë°ì´í„° í”„ë ˆì„ ì‘ì„±

In [22]:
# 'ì´ìµ' í–‰ ìƒì„± : ë§¤ì¶œ - ë¹„ìš©

    1ì›”  2ì›”  3ì›”  4ì›”  5ì›”  6ì›”
ë§¤ì¶œ  25  57   1  20  42  22
ë¹„ìš©   4  73  22  75  11  39
ì´ìµ  21 -16 -21 -55  31 -17

**í•˜ë°˜ê¸°(7~12ì›”) ì‹¤ì  ë°ì´í„°í”„ë ˆì„ ìƒì„±**
- ë§¤ì¶œ, ë¹„ìš©ìœ¼ë¡œ êµ¬ì„±

In [23]:
# ë§¤ì¶œ, ë¹„ìš© data random  ìƒì„±


# ë°ì´í„°í”„ë ˆì„ ìƒì„±


# ê°€ê³µ í–‰ ì´ìµ ìƒì„±

{'7ì›”': array([97, 21]),
 '8ì›”': array([45, 94]),
 '9ì›”': array([40, 15]),
 '10ì›”': array([27, 82]),
 '11ì›”': array([91, 23]),
 '12ì›”': array([67,  3])}

    7ì›”  8ì›”  9ì›”  10ì›”  11ì›”  12ì›”
ë§¤ì¶œ  97  45  40   27   91   67
ë¹„ìš©  21  94  15   82   23    3

    7ì›”  8ì›”  9ì›”  10ì›”  11ì›”  12ì›”
ë§¤ì¶œ  97  45  40   27   91   67
ë¹„ìš©  21  94  15   82   23    3
ì´ìµ  76 -49  25  -55   68   64

**ìƒë°˜ê¸° ì‹¤ì  ë°ì´í„°í”„ë ˆì„ê³¼ í•˜ë°˜ê¸° ì‹¤ì  ë°ì´í„°í”„ë ˆì„ ì—°ê²°**

    1ì›”  2ì›”  3ì›”  4ì›”  5ì›”  6ì›”  7ì›”  8ì›”  9ì›”  10ì›”  11ì›”  12ì›”
ë§¤ì¶œ  25  57   1  20  42  22  97  45  40   27   91   67
ë¹„ìš©   4  73  22  75  11  39  21  94  15   82   23    3
ì´ìµ  21 -16 -21 -55  31 -17  76 -49  25  -55   68   64

- 'ì´ì‹¤ì ' ì—´ ì¶”ê°€

    1ì›”  2ì›”  3ì›”  4ì›”  5ì›”  6ì›”  7ì›”  8ì›”  9ì›”  10ì›”  11ì›”  12ì›”  ì´ì‹¤ì
ë§¤ì¶œ  25  57   1  20  42  22  97  45  40   27   91   67  534
ë¹„ìš©   4  73  22  75  11  39  21  94  15   82   23    3  462
ì´ìµ  21 -16 -21 -55  31 -17  76 -49  25  -55   68   64   72